@font-face {
    font-family: 'Le murmure';
    src: local('Le murmure Regular'), local('Le-murmure-Regular'),
        url('LeMurmure-Regular.woff2') format('woff2'),
        url('LeMurmure-Regular.woff') format('woff'),
        url('LeMurmure-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.lamp-diagram{
	position: absolute;
  background: none;
	width: 16%;
	height: 16%;
	left: 40%;
  bottom: 575px;
}

.vid{
	position: fixed;
	top: 0;
	min-width: 100%;
	min-height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 30px;
  margin-right: 20px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
	border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
	border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fc037f;
}
/* ***change background image */
input:checked + .slider > .lamp-diagram {
  background-image: url("image/lava-lamp.mp4");
  border: 8px solid #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #ffa91f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

body {
  margin: 0;
  padding: 0;
	background-color: white;
	color: black;
	font-family: aktiv-grotesk, sans-serif;
	font-size: 16px;
	 }

.dark-mode{
	background-color: black;
	color: white;
}

.content {
  margin: 0;
  padding: 0;
  color: black;
  font-family: aktiv-grotesk, sans-serif;
  font-size: 15px;
  font-weight: regular;
  text-transform: uppercase;
  word-spacing: 30px;
}

.marquee {
  position: absolute;
  background-color: 0, 0, 0, 0;
  width: 90vw;
  max-width: 90%;
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.six {
  grid-column: 2 / 6;
  grid-row: 4;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

h1, h4, h5, h6, h7 {
	font-family: aktiv-grotesk, sans-serif;
}
.nav-grid{
  grid-column: 1;
  grid-row: 1 / 7;
}

h1 {
	font-size: 50px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
  text-align: right;
}

.one {
  margin-top: 20px;
grid-column-start: 3;
 grid-column-end: 7;
 grid-row-start: 1;
 grid-row-end: 1;
}

h2 {
  font-family:'Le murmure';
  font-weight:400;
  font-size:175px;
  text-transform: uppercase;
}

.two {
  grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 3;
}

h3 {
  font-family: 'Le murmure';
  font-weight: 400;
	font-size: 28px;
  text-transform: uppercase;
  text-align: right;
}

.three {
  grid-column-start: 6;
   grid-column-end: 7;
   grid-row-start: 3;
   grid-row-end: 3;
}

h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 100;
	font-size: 13px;
  text-transform: uppercase;
}

.four {
  grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 2;
}

h5 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 100;
	font-size: 13px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 5px;
}

.five {
  grid-column-start: 5;
   grid-column-end: 7;
   grid-row-start: 2;
   grid-row-end: 2;
}

.footer {
width: 100%;
height: 28px;
position: absolute;
text-align: center;
margin-bottom: 20px;
margin-left: 200px;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display:grid;
  grid-template-columns: auto-flow / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	width: 100%;
  height: 100vh;
	margin: auto;
  margin-bottom: 20px;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}

.container{
	display: grid;
}



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
